.Wrapper{
    background-color: #fff;
    padding-left: 9.8%;
    padding-top:2% ;
    padding-bottom: 76px;
    width: 100%;
}
.Container{
    width: 296px;
    display: flex;
    flex-direction: column;
    height: 30%;
    @media (max-width:555px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        align-items: start;

    }
    .Type{
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .div{
            padding: 4.75% 0;
            display: flex;
            justify-content: flex-start;
        }
    }
    h2{
        padding-bottom: 8.57%;
        color: var(--secondary-300, #90A3BF);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.24px;
    }
    em{
        color: var(--secondary-300, #90A3BF);
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.4px;
        margin-left: 6px;
        @media (max-width:1025px) {
            font-size: 12px;
        }
    }
    .Label{
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.4px;
        background-color: #fff;
        padding: 0;
        @media (max-width:1025px) {
            font-size: 12px;
        }
    }
    .input{
        margin-right: 8px ;
        border: 0;
    }


}}
.Price{
    padding-top: 13.64%;
    @media (max-width:555px) {
        padding: 0;
    }

}
.PriceForm{
    @media (max-width:712) {
        display: flex;
    }
}
.TypeForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Capacity{
    padding-top: 13.64%;
    @media (max-width:555px) {
        padding: 0;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .div{
            padding: 4.75% 0;
            display: flex;
            justify-content: flex-start;
        }
    }
    h2{
        padding-bottom: 8.57%;
        color: var(--secondary-300, #90A3BF);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.24px;

    }
    em{
        color: var(--secondary-300, #90A3BF);
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.4px;
        margin-left: 6px;
        @media (max-width:1025px) {
            font-size: 12px;
        }
    }
    .Label{
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.4px;
        background-color: #fff;
        padding: 0;
        @media (max-width:1025px) {
            font-size: 12px;
        }
    }
    .input{
        margin-right: 8px ;
        border: 0;
    }
}