.Button{
    border-radius: 4px;
    background: var(--primary-500, #3563E9);
    border: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}