$persent: calc(1440 / 100);
$heightpersent: calc(2120 / 100);
body{  
    background: #F6F7F9;
    height: calc(2120 / $heightpersent * 1%);
    font-family: Plus Jakarta Sans;
    box-sizing: border-box;

}
main{
    padding-top : calc(40 / $heightpersent * 1%);
}
.NavVisible{
    display: flex;
    gap: 32px;
    nav{
        display: flex;
        max-width: 360px;
        width: 20%;
        align-items: stretch;
        @media (max-width:555px) {
            max-width: none;
            width: 100%;
        }
    }
    main{
        width: 80%;
        @media (max-width:555px) {
            display: none;
        }
    }

}
.NavNotVisible{
    display: block;
    nav{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;

    }
}